.body {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.page1__body__header {
    width: 1152px;
    height: 85px;
    background-color: white;
    display: flex;
    align-items: center;
}

.page1__body__header__img {
    top: 4px;
    position: relative;
}

.page1__body__header__img:hover {
    cursor: pointer;
    outline: 3px solid #6B46C1;
}

.page1__body__header__link {
    text-decoration: none;
    color: #2D3748;
}

.page1__body__header__link:hover {
    border-bottom: 2px solid blue;
}

.body__main {
    width: 1152px;
    background-color: white;
    display: block;
    position: relative;
}

.page1__body__main {
    height: 467px;
    width: 1152px;
    background-color: #FBFBFB;
    display: block;
    position: relative;
}

.page1__body__main__text {
    height: 191px;
    width: 354px;
    background-color: white;
    margin-left: 127px;
    /*margin-top: 131px;*/
    background-color: #FBFBFB;
    position: relative;
    top:131px;
}

.page1__body__main__H1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
    margin: 0px;
    background-color: #FBFBFB;
}

.page1__body__main__H2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #4A5568;
    position: absolute;
    left: 130px;
    margin: 0px;
    top: 296px;
}

.page1__body__main__cup {
    height: 91px;
    width: 91px;
    position: relative;
    left: 200px;
    bottom: 90px;

}

.page1__body__main__div__picture {
    height: 323px;
    width: 476px;
    background-color: grey;
    position: absolute;
    left: 583px;
    bottom: 70px;
    background-color: #FBFBFB;
}

.page1__menu__li {
    display: inline;
}

.page1__menu__li:nth-child(1) {
    margin-left: 83px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.page1__menu__li:nth-child(2) {
    margin-left: 297px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #718096;
}

.page1__menu__li:nth-child(3) {
    margin-left: 12.4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.page1__menu__li:nth-child(4) {
    margin-left: 186px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.page1__menu__li:nth-child(5) {
    margin-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.page1__menu__li:nth-child(6) {
    margin-left: 30px;
}

.page1__menu__li:nth-child(7) {
    margin-left: 30px;
}

.page1__menu__li:nth-child(8) {
    margin-left: 30px;
}
/*------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width: 1200px) {
    .body {
        /*width: 100%;*/
        /*height: 100%;*/
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        overflow: auto;
    }

    .page1__body__header {
        width: 806px;
        height: 59px;
        background-color: white;
        display: flex;
        align-items: center;
    }

    .body__main {
        width: 806px;
        background-color: white;
        display: block;
        position: relative;
    }
    .page1__body__main {
        height: 326px;
        width: 806px;
        background-color: #FBFBFB;
        display: block;
        position: relative;
    }

    .page1__body__main__text {
        height: 133px;
        width: 247px;
        background-color: white;
        margin-left: 88px;
        top: 72px;
        background-color: #FBFBFB;
    }

    .page1__body__main__H1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 43px;
        line-height: 73px;
        color: #000000;
        margin: 0px;
        background-color: #FBFBFB;
    }

    .page1__body__main__H2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 21px;
        line-height: 36px;
        color: #4A5568;
        position: relative;
        left: 91px;
        margin: 0px;
        top: 91px;
    }

    .page1__body__main__cup {
        height: 63px;
        width: 63px;
        position: relative;
        left: 140px;
        bottom: 70px;
    }

    .page1__body__main__div__picture {
        height: 226px;
        width: 333px;
        background-color: grey;
        position: absolute;
        left: 408px;
        bottom: 49px;
        background-color: #FBFBFB;
    }

    .page1__body__main__picture {
        width: 100%;
        height: auto;
    }

    .page1__menu__li {
        display: inline;
    }

    .page1__menu__li:nth-child(1) {
        margin-left: 58px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
    }

    .page1__menu__li:nth-child(2) {
        margin-left: 207px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 19px;
        color: #718096;
    }

    .page1__menu__li:nth-child(3) {
        margin-left: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 19px;
        color: #000000;
    }

    .page1__menu__li:nth-child(4) {
        margin-left: 130px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 19px;
        color: #000000;
    }

    .page1__menu__li:nth-child(5) {
        margin-left: 21px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 19px;
        color: #000000;
    }

    .page1__menu__li:nth-child(6) {
        margin-left: 21px;
    }

    .page1__menu__li:nth-child(7) {
        margin-left: 21px;
    }

    .page1__menu__li:nth-child(8) {
        margin-left: 21px;
    }
}
/*------------------------------------------------from page2-----------------------------------------------------*/
.page2__item-1 {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}
.page2__item-1__pic {
    position: absolute;
    left: 0.67%;
    right: 0.33%;
    top: 0%;
    bottom: 53.14%;
    
}
.page2__item-1__title {
    position: absolute;
    left: 5.33%;
    right: 13%;
    top: 51.57%;
    bottom: 42.15%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3748;
    margin: 0px;
}
.page2__item-1__text {
    position: absolute;
    left: 5.67%;
    right: 8.33%;
    top: 61.78%;
    bottom: 15.97%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
    margin: 0px;
}
.page2__item-1__text__left {
    position: absolute;
    left: 5.33%;
    right: 64%;
    top: 89.79%;
    bottom: 6.28%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #718096;
    margin: 0px;
}
.page2__item-1__text__right {
    position: absolute;
    left: 71%;
    right: 8%;
    top: 89.79%;
    bottom: 6.28%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;
    margin: 0px;
}
.page2__item-2 {
    padding: 0px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}

.page2__item-3 {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}

.page2__body_top {
    display: flex;
    justify-content: center;
    
}

.page2__body_bottom {
    display: flex;
    justify-content: center;
}
.page2__body__top__wrapper {
    height: 243px;
    width: 966px;
    background-color: rgb(243, 224, 224);
    margin-top: 39px;
    margin-bottom: 43px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    position: relative;
    
}
.page2__body__top__wrapper__title {
    position: absolute;
    left: 5.62%;
    right: 68.89%;
    top: 16.87%;
    bottom: 68.31%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2D3748;

}
.page2__body__top__wrapper__text {
    position: absolute;
    left: 5.41%;
    right: 52.86%;
    top: 42.8%;
    bottom: 36.21%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
}

.page2__body__top__wrapper__text__left {
    position: absolute;
    left: 5.62%;
    right: 84.81%;
    top: 76.13%;
    bottom: 17.7%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #718096;
}
.page2__body__top__wrapper__text__right {
    position: absolute;
    left: 40.58%;
    right: 52.86%;
    top: 76.13%;
    bottom: 17.7%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;
}
.page2__body__top__wrapper__pic {
    position: absolute;
    left: 55.15%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
}

.page2__body__top__link {text-decoration: none; color: #2D3748;}
.page2__body__top__link:hover {border-bottom: 2px solid blue;}

.page2__body__bottom__wrapper {
    display: grid; /* 1 */
    grid-template-columns: 300px 300px 300px;/* 2 */
    grid-template-rows: 382px; /* 3 */
    gap: 34px;
    flex-wrap: wrap;
    
}


/*-------------------------------------768px 1200px-----------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width: 1200px) {
    .page2__item-1 {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
        border-radius: 5px;
    }
    .page2__item-1__pic {
        width: 210px;
        height: auto;
        position: absolute;
        left: 0.67%;
        right: 0.33%;
        top: 0%;
        bottom: 53.14%;
        
    }
    .page2__item-1__title {
        position: absolute;
        left: 5.33%;
        right: 13%;
        top: 51.57%;
        bottom: 42.15%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 14px;
        line-height: 16px;
        color: #2D3748;
        margin: 0px;
    }
    .page2__item-1__text {
        position: absolute;
        left: 5.67%;
        right: 8.33%;
        top: 61.78%;
        bottom: 15.97%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 9px;
        line-height: 11px;
        color: #718096;
        margin: 0px;
    }
    .page2__item-1__text__left {
        position: absolute;
        left: 5.33%;
        right: 64%;
        top: 89.79%;
        bottom: 6.28%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 8px;
        line-height: 10px;
        color: #718096;
        margin: 0px;
    }
    .page2__item-1__text__right {
        position: absolute;
        left: 71%;
        right: 8%;
        top: 89.79%;
        bottom: 6.28%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 8px;
        line-height: 10px;
        color: #2D3748;
        margin: 0px;
    }
    .page2__item-2 {
        padding: 0px;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
        border-radius: 5px;
    }
    
    .page2__item-3 {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
        border-radius: 5px;
    }
    
    .page2__body_top {
        display: flex;
        justify-content: center;
    }
    
    .page2__body_bottom {
        display: flex;
        justify-content: center;
    }
    .page2__body__top__wrapper {
        height: 170px;
        width: 676px;
        background-color: rgb(243, 224, 224);
        margin-top: 27px;
        margin-bottom: 30px;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
        border-radius: 5px;
        position: relative;
    }

    .page2__body__top__wrapper__title {
        position: absolute;
        left: 5.62%;
        right: 68.89%;
        top: 16.87%;
        bottom: 68.31%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 21px;
        line-height: 25px;
        color: #2D3748;
      
    }
    .page2__body__top__wrapper__text {
        position: absolute;
        left: 5.41%;
        right: 52.86%;
        top: 42.8%;
        bottom: 36.21%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 9px;
        line-height: 11px;
        color: #718096;
    }
    
    .page2__body__top__wrapper__text__left {
        position: absolute;
        left: 5.62%;
        right: 84.81%;
        top: 76.13%;
        bottom: 17.7%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 8px;
        line-height: 10px;
        color: #718096;
    }
    .page2__body__top__wrapper__text__right {
        position: absolute;
        left: 40.58%;
        right: 52.86%;
        top: 76.13%;
        bottom: 17.7%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 8px;
        line-height: 10px;
        color: #2D3748;
    }
    .page2__body__top__wrapper__pic {
        width: 304px;
        position: absolute;
        left: 55.15%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        
    }
    .page2__body__bottom__wrapper {
        display: grid; /* 1 */
        grid-template-columns: 210px 210px 210px;/* 2 */
        grid-template-rows: 267px; /* 3 */
        gap: 23px;
        flex-wrap: wrap;
    }
    
}

 /*--------------------------------------------------from page3------------*/
.page3__body__main {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}


.page3__body__top__wrapper {
    height: 500px;
    width: 965px;
    background-color: rgb(243, 224, 224);
    margin-top: 43px;
    margin-bottom: 111px;
    background: #F7FAFC;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    position: relative;
}

.page3__body__top__wrapper__title {
    position: absolute;
    left: 6.53%;
    right: 61.55%;
    top: 15.6%;
    bottom: 61.2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.page3__body__top__wrapper__text {
    position: absolute;
    left: 6.53%;
    right: 61.24%;
    top: 43.6%;
    bottom: 33.6%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #718096;
}

.page3__body__top__wrapper__text__left {
    position: absolute;
    left: 6.53%;
    right: 87.56%;
    top: 72.6%;
    bottom: 23.6%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4A5568
}

.page3__body__top__wrapper__text__right {
    position: absolute;
    left: 30.16%;
    right: 61.14%;
    top: 72.6%;
    bottom: 23.6%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.page3__body__top__wrapper__text__right:hover {
    cursor: pointer;
}

.page3__body__top__wrapper__pic {
    position: absolute;
    left: 45.6%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.page3__body__main__link {
    text-decoration: none;
    color: #2D3748;
}

.page3__body__main__link:hover {
    border-bottom: 2px solid blue;
}

.page3__body__button {
    width: 122px;
    height: 37px;
    position: absolute;
    left: 843px;
    top: 540px;
    background: #6B46C1;
    border-radius: 5px;
    border-color: #6B46C1;
}

.page3__body__button:hover {
    cursor: pointer;
    outline: 3px solid #6B46C1;
}

.page3__body__button__text {
    position: absolute;
    left: 9.02%;
    right: 30.33%;
    top: 24.32%;
    bottom: 24.32%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0px;
}

.page3__body__button__img {
    position: absolute;
    left: 80%;
    right: 8.33%;
    top: auto;
    bottom: 25%;
}

.page3__body__footer {
    width: 100%;
    height: 121px;
    background-color: white;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    border-top: 1px solid #E8E8E8;
}

.page3__body__footer__div {
    width: 965px;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
}

.page3__menu__ul {
    padding: 0px;
}

.page3__menu__li {
    display: inline;
}

.page3__menu__li:nth-child(1) {
    margin-left: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.page3__menu__li:nth-child(2) {
    margin-left: 480px;
}

.page3__menu__li:nth-child(3) {
    margin-left: 30px;
}

.page3__menu__li:nth-child(4) {
    margin-left: 30px;
}

.page3__body__footer__img:hover {
    cursor: pointer;
    outline: 3px solid #6B46C1;
}

/*------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width: 1200px) {

    .page3__body {
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        overflow: auto;
    }

    .page3__body__top__wrapper {
        height: 350px;
        width: 675px;
        background-color: rgb(243, 224, 224);
        margin-top: 45px;
        margin-bottom: 77px;
        background: #F7FAFC;
        border: 1px solid #E2E2E2;
        box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
        border-radius: 5px;
        position: relative;
    }

    .page3__body__top__wrapper__title {
        position: absolute;
        left: 6.53%;
        right: 61.55%;
        top: 15.6%;
        bottom: 61.2%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 28px;
        line-height: 33px;
        color: #000000;
    }

    .page3__body__top__wrapper__text {
        position: absolute;
        left: 6.53%;
        right: 61.24%;
        top: 43.6%;
        bottom: 33.6%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 13px;
        color: #718096;
    }

    .page3__body__top__wrapper__text__left {
        position: absolute;
        left: 6.53%;
        right: 87.56%;
        top: 72.6%;
        bottom: 23.6%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 13px;
        color: #4A5568
    }

    .page3__body__top__wrapper__text__right {
        position: absolute;
        left: 30.16%;
        right: 61.14%;
        top: 72.6%;
        bottom: 23.6%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
    }

    .page3__body__top__wrapper__pic {
        width: 368px;
        position: absolute;
        left: 45.6%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }

    .page3__body__button {
        width: 122px;
        height: 37px;
        position: absolute;
        left: 555px;
        top: 378px;
        background: #6B46C1;
        border-radius: 5px;
        border-color: #6B46C1;
    }

    .page3__body__button__text {
        position: absolute;
        left: 9.02%;
        right: 30.33%;
        top: 24.32%;
        bottom: 24.32%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 10px;
        line-height: 13px;
        color: #FFFFFF;
        margin: 0px;
    }

    .page3__body__button__img {
        position: absolute;
        left: 80%;
        right: 8.33%;
        top: auto;
        bottom: 25%;
    }

    .page3__body__footer {
        width: 100%;
        height: 84px;
        background-color: white;
        display: flex;
        justify-content: center;
        border-top: 1px solid #E8E8E8;
    }

    .page3__body__footer__div {
        width: 675px;
        height: 49px;
        background-color: white;
        display: flex;
        align-items: center;
    }

    .page3__menu__ul {
        padding: 0px;
    }

    .page3__menu__li {
        display: inline;
    }

    .page3__menu__li:nth-child(1) {
        margin-left: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
    }

    .page3__menu__li:nth-child(2) {
        margin-left: 320px;
    }

    .page3__menu__li:nth-child(3) {
        margin-left: 21px;
    }

    .page3__menu__li:nth-child(4) {
        margin-left: 21px;
    }
}