.body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}


.body__top__wrapper {
    height: 500px;
    width: 965px;
    background-color: rgb(243, 224, 224);
    margin-top: 65px;
    /*margin-left: 93px;*/
    margin-bottom: 111px;
    background: #F7FAFC;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    position: relative;
}

.body__top__wrapper__title {
    position: absolute;
    left: 6.53%;
    right: 61.55%;
    top: 15.6%;
    bottom: 61.2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.body__top__wrapper__text {
    position: absolute;
    left: 6.53%;
    right: 61.24%;
    top: 43.6%;
    bottom: 33.6%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #718096;
}

.body__top__wrapper__text__left {
    position: absolute;
    left: 6.53%;
    right: 87.56%;
    top: 72.6%;
    bottom: 23.6%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4A5568
}

.body__top__wrapper__text__right {
    position: absolute;
    left: 30.16%;
    right: 61.14%;
    top: 72.6%;
    bottom: 23.6%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.body__top__wrapper__text__right:hover {
    cursor: pointer;
}

.body__top__wrapper__pic {
    position: absolute;
    left: 45.6%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(/images/image7.png);
}

.body__main__link {
    text-decoration: none;
    color: #2D3748;
}

.body__main__link:hover {
    border-bottom: 2px solid blue;
}

.body__button {
    width: 122px;
    height: 37px;
    position: absolute;
    left: 843px;
    top: 540px;
    background: #6B46C1;
    border-radius: 5px;
    border-color: #6B46C1;
}

.body__button:hover {
    cursor: pointer;
    outline: 3px solid #6B46C1;
}

.body__button__text {
    position: absolute;
    left: 9.02%;
    right: 30.33%;
    top: 24.32%;
    bottom: 24.32%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0px;
}

.body__button__img {
    position: absolute;
    left: 80%;
    right: 8.33%;
    top: auto;
    bottom: 25%;
}

.body__footer {
    width: 100%;
    height: 121px;
    background-color: white;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    border-top: 1px solid #E8E8E8;
}

.body__footer__div {
    width: 965px;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
}

.menu__ul {
    padding: 0px;
}

.menu__li {
    display: inline;
}

.menu__li:nth-child(1) {
    margin-left: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.menu__li:nth-child(2) {
    margin-left: 480px;
}

.menu__li:nth-child(3) {
    margin-left: 30px;
}

.menu__li:nth-child(4) {
    margin-left: 30px;
}

.body__footer__img:hover {
    cursor: pointer;
    outline: 3px solid #6B46C1;
}

/*------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width: 1200px) {

    .body {
        width: 100%;
        height: 100%;
        /* position: fixed; */
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        overflow: auto;
    }


    .body__top__wrapper {
        height: 350px;
        width: 675px;
        background-color: rgb(243, 224, 224);
        margin-top: 45px;
        margin-bottom: 77px;
        background: #F7FAFC;
        border: 1px solid #E2E2E2;
        box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
        border-radius: 5px;
        position: relative;


    }

    .body__top__wrapper__title {
        position: absolute;
        left: 6.53%;
        right: 61.55%;
        top: 15.6%;
        bottom: 61.2%;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 28px;
        line-height: 33px;

        color: #000000;
    }

    .body__top__wrapper__text {
        position: absolute;
        left: 6.53%;
        right: 61.24%;
        top: 43.6%;
        bottom: 33.6%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 13px;
        color: #718096;
    }

    .body__top__wrapper__text__left {
        position: absolute;
        left: 6.53%;
        right: 87.56%;
        top: 72.6%;
        bottom: 23.6%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 13px;
        color: #4A5568
    }

    .body__top__wrapper__text__right {
        position: absolute;
        left: 30.16%;
        right: 61.14%;
        top: 72.6%;
        bottom: 23.6%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
    }

    .body__top__wrapper__pic {
        position: absolute;
        left: 45.6%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: url(/images/image7.png);
    }

    .body__button {
        width: 122px;
        height: 37px;
        position: absolute;
        left: 555px;
        top: 378px;
        background: #6B46C1;
        border-radius: 5px;
        border-color: #6B46C1;
    }

    .body__button__text {
        position: absolute;
        left: 9.02%;
        right: 30.33%;
        top: 24.32%;
        bottom: 24.32%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 10px;
        line-height: 13px;
        color: #FFFFFF;
        margin: 0px;
    }

    .body__button__img {
        position: absolute;
        left: 80%;
        right: 8.33%;
        top: auto;
        bottom: 25%;
    }

    .body__footer {
        width: 100%;
        height: 84px;
        background-color: white;
        display: flex;
        justify-content: center;
        border-top: 1px solid #E8E8E8;
    }

    .body__footer__div {
        width: 675px;
        height: 49px;
        background-color: white;
        display: flex;
        align-items: center;
    }

    .menu__ul {
        padding: 0px;
    }

    .menu__li {
        display: inline;
    }

    .menu__li:nth-child(1) {
        margin-left: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
    }

    .menu__li:nth-child(2) {
        margin-left: 320px;
    }

    .menu__li:nth-child(3) {
        margin-left: 21px;
    }

    .menu__li:nth-child(4) {
        margin-left: 21px;
    }
}