.item-1 {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}
.item-1__pic {
    position: absolute;
    left: 0.67%;
    right: 0.33%;
    top: 0%;
    bottom: 53.14%;
    
}
.item-1__title {
    position: absolute;
    left: 5.33%;
    right: 13%;
    top: 51.57%;
    bottom: 42.15%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3748;
    margin: 0px;
}
.item-1__text {
    position: absolute;
    left: 5.67%;
    right: 8.33%;
    top: 61.78%;
    bottom: 15.97%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
    margin: 0px;
}
.item-1__text__left {
    position: absolute;
    left: 5.33%;
    right: 64%;
    top: 89.79%;
    bottom: 6.28%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #718096;
    margin: 0px;
}
.item-1__text__right {
    position: absolute;
    left: 71%;
    right: 8%;
    top: 89.79%;
    bottom: 6.28%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;
    margin: 0px;
}
.item-2 {
    padding: 0px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}

.item-3 {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}

.body_top {
    display: flex;
    justify-content: center;
}

.body_bottom {
    display: flex;
    justify-content: center;
}
.body__top__wrapper {
    height: 243px;
    width: 966px;
    background-color: rgb(243, 224, 224);
    margin-top: 72px;
    /*margin-left: 93px;*/
    margin-bottom: 43px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    position: relative;
    
   
}
.body__top__wrapper__title {
    position: absolute;
    left: 5.62%;
    right: 68.89%;
    top: 16.87%;
    bottom: 68.31%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2D3748;
  
}
.body__top__wrapper__text {
    position: absolute;
    left: 5.41%;
    right: 52.86%;
    top: 42.8%;
    bottom: 36.21%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
}

.body__top__wrapper__text__left {
    position: absolute;
    left: 5.62%;
    right: 84.81%;
    top: 76.13%;
    bottom: 17.7%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #718096;
}
.body__top__wrapper__text__right {
    position: absolute;
    left: 40.58%;
    right: 52.86%;
    top: 76.13%;
    bottom: 17.7%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;
}
.body__top__wrapper__pic {
    position: absolute;
    left: 55.15%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(/images/image1.png);
}

.body__top__link {text-decoration: none; color: #2D3748;}
.body__top__link:hover {border-bottom: 2px solid blue;}

.body__bottom__wrapper {
    display: grid; /* 1 */
    grid-template-columns: 300px 300px 300px;/* 2 */
    grid-template-rows: 382px 382px 382px; /* 3 */
    gap: 34px;
    flex-wrap: wrap;
}

/*-------------------------------------768px 1200px-----------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width: 1200px) {
    .item-1 {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
        border-radius: 5px;
    }
    .item-1__pic {
        width: 210px;
        height: auto;
        position: absolute;
        left: 0.67%;
        right: 0.33%;
        top: 0%;
        bottom: 53.14%;
        
    }
    .item-1__title {
        position: absolute;
        left: 5.33%;
        right: 13%;
        top: 51.57%;
        bottom: 42.15%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 14px;
        line-height: 16px;
        color: #2D3748;
        margin: 0px;
    }
    .item-1__text {
        position: absolute;
        left: 5.67%;
        right: 8.33%;
        top: 61.78%;
        bottom: 15.97%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 9px;
        line-height: 11px;
        color: #718096;
        margin: 0px;
    }
    .item-1__text__left {
        position: absolute;
        left: 5.33%;
        right: 64%;
        top: 89.79%;
        bottom: 6.28%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 8px;
        line-height: 10px;
        color: #718096;
        margin: 0px;
    }
    .item-1__text__right {
        position: absolute;
        left: 71%;
        right: 8%;
        top: 89.79%;
        bottom: 6.28%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 8px;
        line-height: 10px;
        color: #2D3748;
        margin: 0px;
    }
    .item-2 {
        padding: 0px;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
        border-radius: 5px;
    }
    
    .item-3 {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
        border-radius: 5px;
    }
    
    .body_top {
        display: flex;
        justify-content: center;
    }
    
    .body_bottom {
        display: flex;
        justify-content: center;
    }
    .body__top__wrapper {
        height: 170px;
        width: 676px;
        background-color: rgb(243, 224, 224);
        margin-top: 50px;
        /*margin-left: 93px;*/
        margin-bottom: 30px;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
        border-radius: 5px;
        position: relative;
    }
    .body__top__wrapper__title {
        position: absolute;
        left: 5.62%;
        right: 68.89%;
        top: 16.87%;
        bottom: 68.31%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 21px;
        line-height: 25px;
        color: #2D3748;
      
    }
    .body__top__wrapper__text {
        position: absolute;
        left: 5.41%;
        right: 52.86%;
        top: 42.8%;
        bottom: 36.21%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 9px;
        line-height: 11px;
        color: #718096;
    }
    
    .body__top__wrapper__text__left {
        position: absolute;
        left: 5.62%;
        right: 84.81%;
        top: 76.13%;
        bottom: 17.7%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 8px;
        line-height: 10px;
        color: #718096;
    }
    .body__top__wrapper__text__right {
        position: absolute;
        left: 40.58%;
        right: 52.86%;
        top: 76.13%;
        bottom: 17.7%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 8px;
        line-height: 10px;
        color: #2D3748;
    }
    .body__top__wrapper__pic {
        position: absolute;
        left: 55.15%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: url(/images/image1.png);
    }
    .body__bottom__wrapper {
        display: grid; /* 1 */
        grid-template-columns: 210px 210px 210px;/* 2 */
        grid-template-rows: 267px 267px 267px; /* 3 */
        gap: 23px;
        flex-wrap: wrap;
    }
    

}