.body {
    width: 100%;
    height: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.body__header {
    width: 1152px;
    height: 85px;
    background-color: white;
    display: flex;
    align-items: center;


}

.body__header__img {
    top: 4px;
    position: relative;
}

.body__header__img:hover {
    cursor: pointer;
    outline: 3px solid #6B46C1;
}

.body__header__link {
    text-decoration: none;
    color: #2D3748;
}

.body__header__link:hover {
    border-bottom: 2px solid blue;
}

.body__main {
    height: 467px;
    width: 1152px;
    background-color: #FBFBFB;
    display: block;
    position: relative;
}

.body__main__text {
    height: 191px;
    width: 354px;
    background-color: white;
    margin-left: 127px;
    margin-top: 131px;
    background-color: #FBFBFB;
}

.body__main__H1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
    margin: 0px;
    background-color: #FBFBFB;
}

.body__main__H2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #4A5568;
    position: relative;
    left: 130px;
    margin: 0px;
}

.body__main__cup {
    height: 91px;
    width: 91px;
    position: relative;
    left: 200px;
    bottom: 90px;

}

.body__main__div__picture {
    height: 323px;
    width: 476px;
    background-color: grey;
    position: absolute;
    left: 583px;
    bottom: 70px;
    background-color: #FBFBFB;
}

.menu__li {
    display: inline;
}

.menu__li:nth-child(1) {
    margin-left: 83px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.menu__li:nth-child(2) {
    margin-left: 297px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #718096;

}

.menu__li:nth-child(3) {
    margin-left: 12.4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.menu__li:nth-child(4) {
    margin-left: 186px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.menu__li:nth-child(5) {
    margin-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.menu__li:nth-child(6) {
    margin-left: 30px;
}

.menu__li:nth-child(7) {
    margin-left: 30px;
}

.menu__li:nth-child(8) {
    margin-left: 30px;
}


/*------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width: 1200px) {
    .body {
        width: 100%;
        height: 100%;
        /* position: fixed; */
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        overflow: auto;
    }

    .body__header {
        width: 806px;
        height: 59px;
        background-color: white;
        display: flex;
        align-items: center;


    }

    .body__main {
        height: 326px;
        width: 806px;
        background-color: #FBFBFB;
        display: block;
        position: relative;
    }

    .body__main__text {
        height: 133px;
        width: 247px;
        background-color: white;
        margin-left: 88px;
        margin-top: 91px;
        background-color: #FBFBFB;
    }

    .body__main__H1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 43px;
        line-height: 73px;
        color: #000000;
        margin: 0px;
        background-color: #FBFBFB;
    }

    .body__main__H2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 21px;
        line-height: 36px;
        color: #4A5568;
        position: relative;
        left: 91px;
        margin: 0px;
    }

    .body__main__cup {
        height: 63px;
        width: 63px;
        position: relative;
        left: 140px;
        bottom: 70px;



    }

    .body__main__div__picture {
        height: 226px;
        width: 333px;
        background-color: grey;
        position: absolute;
        left: 408px;
        bottom: 49px;
        background-color: #FBFBFB;
    }

    .body__main__picture {
        width: 100%;
        height: auto;
    }

    .menu__li {
        display: inline;
    }

    .menu__li:nth-child(1) {
        margin-left: 58px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 490;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
    }

    .menu__li:nth-child(2) {
        margin-left: 207px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 19px;
        color: #718096;

    }

    .menu__li:nth-child(3) {
        margin-left: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 19px;
        color: #000000;
    }

    .menu__li:nth-child(4) {
        margin-left: 130px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 19px;
        color: #000000;
    }

    .menu__li:nth-child(5) {
        margin-left: 21px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 280;
        font-size: 11px;
        line-height: 19px;
        color: #000000;
    }

    .menu__li:nth-child(6) {
        margin-left: 21px;
    }

    .menu__li:nth-child(7) {
        margin-left: 21px;
    }

    .menu__li:nth-child(8) {
        margin-left: 21px;
    }
}